body {
    max-width: 650px;
    margin: 0 auto;
    font-family: Courier, Courier Prime, Courier New, monospace;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

img[src*="character"] {
    max-height: 250px;
    max-width: 300px;
    object-fit: contain;
    object-position: center;
}

@media screen and (min-width: 1500px) {   
    .table-of-contents {
        position: fixed;
        left: 0;
    }
}