:root {
    --bg-color: #eee;
    --fg-primary: #000;
    --font-primary: 1rem/1.6 "Courier Prime", monospace;
    --font-interface: 1rem/1.6 Verdana, sans-serif;
}

body {
    max-width: 650px;
    margin: 3rem auto;
    font: var(--font-primary);
    background-color: var(--bg-color);
    color: var(--fg-primary)
}

main {
    padding: 8px;
    overflow: hidden;
}

img {
    max-width: 100%;
}

.table-of-contents {
    font: var(--font-interface);
}
@media screen and (min-width: 1400px) {   
    .table-of-contents {
        position: fixed;
        left: 0;
    }
}

.box {
    padding: 1rem;
    border: 1px solid #888;
    border-radius: 0.5rem;
    text-align: center;
}

.big {
    font-size: 150%;
}

.bigger {
    font-size: 200%;
}

.biggest {
    font-size: 300%;
}

h1, h2, h3, h4 {
    font: var(--font-interface);
    font-size: 2rem;
}

h1 {
    font: var(--font-primary);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

h2 {
    font: var(--font-interface);
    font-size: 2em;
    margin-bottom: 1rem;
    font-weight: bold;
}

h3, .command-box {
    font: var(--font-interface);
    font-size: 1.5em;
    text-align: center;
    box-shadow:
        0 0 0 4px #888,
        0 0 0 8px #444;
    color: blue;
}

h3::before {
    content: "> ";
    color: var(--fg-primary);
}
