body {
    max-width: 650px;
    margin: 0 auto;
    font-family: Courier, Courier Prime, Courier New, monospace;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

img[src*="character"] {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    object-position: right;
}
img[src*="character"][src*="vriska"] {
    object-position: left;
}

@media screen and (min-width: 1500px) {   
    .table-of-contents {
        position: fixed;
        left: 0;
    }
}