.vriska {
    color: #005682;
}
.tavros {
    color: #A15000;
}
.davepetasprite {
    color: #F2A400;
}
.aradiabot {
    color: #A10000
}
.nannasprite {
    color: #009eff;
}
.mindmom {
    font-style: italic;
    color: #005682;
    padding-left: 2rem;
}

.box {
    padding: 1rem;
    border: 1px solid #888;
    border-radius: 0.5rem;
    text-align: center;
}

.big {
    font-size: 150%;
}

.bigger {
    font-size: 200%;
}

.biggest {
    font-size: 300%;
}

