:root {
    --vriska: #005682;
    --tavros: #A15000;
    --davepeta: #F2A400;
    --davepeta-prefix: #4AC925;
    --aradia: #A10000;
    --nanna: #009eff;
     /* intentionally non-canon. darkened for contrast with vriska's text */
    --mindmom: hsl(200, 50%, 25%);
    --gcatav: #0715cd;
    --erisol: #4ac925;
    --scratch: #FFFFFF;
    --scratch-outline: #003700; 
    --scratch-outline-center: #2ed73a;
    --jasprosesprite: #b536da;
    --jasprosesprite-prefix: #ff6ef2;
    --vriska_paren: var(--mindmom);
    --fefetasprite: #b536da;
}

.vriska {
    color: var(--vriska);
}
.tavros {
    color: var(--tavros);
}
.davepetasprite {
    color: var(--davepeta);
}
.davepetasprite > .prefix {
    color: var(--davepeta-prefix);
}
.aradiabot {
    color: var(--aradia)
}
.nannasprite {
    color: var(--nanna);
}
.mindmom {
    font-style: italic;
    color: var(--mindmom);
    padding-left: 2rem;
}
.gcatav {
    color: var(--gcatav);
}
.erisolsprite {
    color: var(--erisol);
}
.doc_scratch, .doc_scratch_center {
    color: var(--scratch);
    text-shadow: -.1em -0.1em 0.1em var(--scratch-outline), 
                  0px -0.2em 0.1em var(--scratch-outline),
                  0.1em -0.1em 0.1em var(--scratch-outline),
                  -0.2em 0px 0.1em var(--scratch-outline), 
                  0.2em  0px 0.1em var(--scratch-outline),
                  -0.1em 0.1em 0.1em var(--scratch-outline), 
                  0px  0.2em 0.1em var(--scratch-outline),
                  0.1em  0.1em 0.1em var(--scratch-outline);
}

.doc_scratch_center {
    --scratch-outline: var(--scratch-outline-center);
    text-align: center;
}
.jasprosesprite {
    color: var(--jasprosesprite);
}
.jasprosesprite > .prefix {
    color: var(--jasprosesprite-prefix);
}
.the-point {
    color: #000;
}
.vriska_paren {
    color: var(--vriska_paren);
}

.fefetasprite {
    color: var(--fefetasprite);
}