.disable_talksprites img[src*="character"] {
    display: none;
}

img[src*="character"] {
    display: flex;
    max-height: 300px;
    margin-left: auto;
}

/* if it's vriska, put her on the left */
img[src*="character"]:where([src*="vriska"], [src*="jasprose"]):not([src*="vriska_paren"]) {
    margin-left: 0;
}

/* STUPID HACK: if it's Jasprosprite, flip her 180deg. */
img[src*="jasprose"] {
    scale: -1.0 1;
    margin-left: 0;
}

img[src*="fefeta/xc"] {
    animation: fefeta_die 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes fefeta_die {
    from { opacity: 1; }
    20% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

.tavros_escape {
    scale: -1 1;
}

@media (prefers-reduced-motion: no-preference) {
    .tavros_escape {
        animation-name: tavros_escape;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
}

@keyframes tavros_escape {
    0%, 25% {
        scale: 1 1;
        translate: 0 0;
    }
    35%, 42.5% {
        scale: -1 1;
        translate: 0 0;
    }
    60%, 100% {
        scale: -1 1;
        translate: 200% 0;
    }
}

.vriska_escape {
    scale: -1 1;
}

@media (prefers-reduced-motion: no-preference) {
    .vriska_escape {
        animation-name: vriska_escape;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
}

@keyframes vriska_escape {
    0%, 25% {
        scale: 1 1;
        translate: 0 0;
    }
    35%, 42.5% {
        scale: -1 1;
        translate: 0 0;
    }
    60%, 100% {
        scale: -1 1;
        translate: -200% 0;
    }
}

.vriska_shrink {
    scale: 50%;
    transform-origin: bottom left;
}

@media (prefers-reduced-motion: no-preference) {
    .vriska_shrink {
        animation: ease-out 3s vriska_shrink infinite;
    }
}

@keyframes vriska_shrink {
    0%, 20% {
        scale: 1;
        opacity: 1;
    }
    80%, 100% {
        scale: 0;
        opacity: 0;
    }
}

img[src*="character"]:is([src*="vriska_kid/disgusted"],[src*="vriska_kid/frustrated"]) {
    margin-left: auto; margin-right: auto
}

img[src*="character"][src*="exploded_blood1"] { margin-left: 0; }
img[src*="character"][src*="exploded_blood2"] { margin-left: auto; }
img[src*="character"][src*="exploded_blood3"] { margin-left: 0; }
img[src*="character"][src*="exploded_blood4"] { margin-left: auto; }
img[src*="character"][src*="exploded_blood5"] { margin-left: 0; }
img[src*="character"][src*="exploded_blood6"] { margin-left: auto; }
img[src*="character"][src*="exploded_blood7"] { margin-left: 0; }